body{
  background:#333;
  color:white;
  font-variant: small-caps;
  width: 100vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}
*{
  margin: 1em;
}
li{
  list-style:none;
  margin-left: 0;
  padding-left: 0;
}